.projects {
    background-image: url(../../Images/ProjectsPhoto.png);
    background-size: cover;
    padding-top: 10px;
}

.projectsH2 {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projectsH3 {
    margin-top: 40px;
    text-align: center;
    color: #ffffff;
}

.projectsCard {
    font-size: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 50px;
    margin-top: 50px;
    padding-bottom: 60px;
    color: #ffffff;
}

.projectVideo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

