#photo {
	float: right;
}

body {
	background-image: url("https://t4.ftcdn.net/jpg/02/99/77/09/240_F_299770944_6qbBDaEe3MkQZNfFBYWvQMMM3a7FAof7.jpg");
  background-size: cover;
	font: 16px Avenir, Helvetica, Sans-Serif;
}

h1 {
	font: 36px Avenir, Helvetica, Sans-Serif;
}

h2 {
	font: 28px Avenir, Helvetica, Sans-Serif;
}

h3 {
	font: 24px Avenir, Helvetica, Sans-Serif;
}

h4 {
	font: 20px Avenir, Helvetica, Sans-Serif;
}

#container {
	width: 800px;
	margin: 50px auto 50px;
}

#myname {
	font: 36px Avenir, Helvetica, Sans-Serif;
}
