.contact {
    background-color: #ffffff;
    padding-top: 10px;
    margin-bottom: 300px;
}

.contactH2 {
    font-size: 40px;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}

.contactCards {
    font-size: 20px;
    color: #000000;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 60px;
}

.left-half {
    background-color: #0177b5;
    float: left;
    width: 40%;
  }

  .right-half {
    background-color: #0177b5;
    float: right;
    width: 40%;
  }

  .contactH3 {
      color: #ffffff;
      text-align: center;
  }

  .phone {
    color: #ffffff;
    float: center;
    margin-top: 30px;
}   

.email {
    color: #ffffff;
    float: center;
    margin-top: 30px;
}   

p {
    text-align: center;
    color: #ffffff;
}