.contact {
    background-color: #ffffff;
    padding-top: 10px;
    margin-bottom: 0px;
}

.contactH2 {
    font-size: 40px;
    color: #000000;
    text-align: justify;
    padding-bottom: 10px;
}

.contactCards {
    font-size: 20px;
    color: #000000;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.left-half {
    background-color: #071B38;
    display: inline-block;
    margin-right: 5%;
    width: 30%;
}

.middle {
    background-color: #071B38;
    display: inline-block;
    margin-right: 5%;
    width: 30%;
}

.right-half {
    background-color: #071B38;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.contactH3 {
    color: #ffffff;
    text-align: center;
}

.phone {
    color: #ffffff;
    margin-top: 30px;
}   

.email {
    color: #ffffff;
    margin-top: 30px;
}   

.resume {
    color: #ffffff;
    margin-top: 30px;
}   

p {
    text-align: center;
    color: #ffffff;
}

.resumeLink:link {
    text-decoration: none;
    color: #ffffff;
  }
  
  .resumeLink:visited {
    text-decoration: none;
    color: #ffffff;
  }