.footer {
    /* background-color: #000000; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    background: hsla(216, 78%, 12%, 1);
    background: linear-gradient(360deg, hsla(216, 78%, 12%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(216, 78%, 12%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(216, 78%, 12%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#071B38", endColorstr="#000000", GradientType=1 );
}